


@model List<KidKinderProject.Entities.AboutList>



<ul class="list-inline m-0">
    @foreach (var item in Model)
    {
        <li class="py-2 border-top border-bottom">
            <i class="fa fa-check text-primary mr-3"></i>@item.Description
        </li>
    }


</ul>


