
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">KidKinder Admin Panel</h5>
                    <p class="m-b-0">Uygulamanın yeni veri girişi, güncelleme, silme ve diğer işlemlerin yapıldığı sayfadır.</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="@TempData["Url1"]">@TempData["Text1"]</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="@TempData["Url2"]">@TempData["Text2"]</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>