@model KidKinderProject.Models.CreateTeacherViewModel
@{
    ViewBag.Title = "CreateTeacher";
    TempData["Text1"] = "Öğretmen Listesi";
    TempData["Text2"] = "Yeni Öğretmen Girişi";
    TempData["Url1"] = "/AdminTeacher/TeacherList/";
    TempData["Url2"] = "/AdminTeacher/CreateTeacher/";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h5>Yeni Öğretmen Girişi</h5>
    </div>
    <div class="card-block">
        <form class="form-material" method="post">
            <span class="text-danger">
                @Html.ValidationSummary()
            </span>
            <div class="form-group form-default">
                <input type="text" name="Name" placeholder="Adınız" class="form-control">
                <span class="form-bar"></span>
            </div>
            
            <div class="form-group form-default">
                @Html.DropDownListFor(x => x.BranchId, (SelectList)ViewBag.teacherBranch, "Branş Seçiniz", new { @class = "form-control" })
            </div>
            <div class="form-group form-default">
                <input type="text" name="ImageUrl" placeholder="Resim" class="form-control">
                <span class="form-bar"></span>
            </div>
            <div class="form-group form-default">
                <input type="text" name="FacebookUrl" placeholder="Facebook" class="form-control">
                <span class="form-bar"></span>
            </div>
            <div class="form-group form-default">
                <input type="text" name="TwitterUrl" placeholder="Twitter" class="form-control">
                <span class="form-bar"></span>
            </div>
            <div class="form-group form-default">
                <input type="text" name="LinkedinUrl" placeholder="Linkedin" class="form-control">
                <span class="form-bar"></span>
            </div>
            <button type="submit" class="btn btn-outline-primary">Öğretmeni Kaydet</button>
        </form>
    </div>
</div>