@model KidKinderProject.Entities.AboutList
@{
    ViewBag.Title = "UpdateAboutList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5>Hakkımızda Madde Güncelleme</h5>
    </div>
    <div class="card-block">
        <form class="form-material" method="post">
            <input type="hidden" name="AboutListId" value="@Model.AboutListId" />
            <div class="form-group form-default">
                <input type="text" name="Description" value="@Model.Description" placeholder="Sınıf Adı" class="form-control">
            </div>

            <button type="submit" class="btn btn-outline-primary">Madde Güncelle</button>
        </form>
    </div>
</div>